/* Familia de fuentes */
h1{
    /* tipo de letra */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
     /* tamaño de letra */
     /* el tamaño por defecto en las paginas es de 16px */
     font-size: 20px;
     font-family: Tahoma;
}

h4 {
    /* proporcion de negrita del texto */
    /* valores de 100 a 800 o[normal bold] */
    font-weight: bold;
}

small {
    /* estilo de fuente */
    /* normal | oblique | italic */
    font-style: oblique;
}

.texto-footer {
    /* Propiedad de texto estilo shorthand */
    /* font-style, font-weight, font-size, font-family */
    font: 100 10px Arial;
}